

.nav {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* align-items: flex-start; */
    height: 8vh;
    width: 100%;
    text-align: center;
    background-color: #3498db;
}